html, body{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

h1{
    top: 1rem;
    font-size: 1rem;
    font-weight: normal;
}

svg{
    border: 1px solid #b4b4b4;
    display: block;
}

#wrapper {
    margin: 3rem auto;
}