html, body{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background: #232323;
    color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    position: absolute;
    top: 0.5rem;
    font-size: 1rem;
    font-weight: normal;
}

canvas{
    border: 1px solid red;
    box-sizing: border-box;
    display: block;
    padding: 0;
    margin: 0;
    width: 800px;
    height: 800px;
}
